
body {
    background-color: #aaaaaa;
}

html, body, .app {
    height: 100%;
}

iframe {
    border: 0;
}

button {
    margin-right: 1em;
}

hidden {
    display: none;
}

/* layout */

.app-inner {
    height: 100%;
}

.footer {
    height: 4.5em;
}

.col.left, .col.right {
    height: 100%;
    padding: 0;
}

.col.partial {
    height: 60%;
}

.toolset {
    height: 40%;
}

/* misc */

button.close {
    position: relative;
    color: white;
    opacity: 1;
    text-shadow: none;
}

button.close:hover {
    color: #d0d0d0;
    opacity: 1;
    top: 2px;
    text-shadow: none;
}

/* editor */

.editor-wrapper,
.compiled {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    width: 45%;
    z-index: 400;
}

.editor {
    height: 400px;
}

.editor .CodeMirror {
    background: none;
    background-color: rgba(50, 50, 50, .5);
    box-shadow: none;
    border-radius: 5px;
}

.editor .highlight {
    background-color: #393939;
    padding: .5em;
}

.editor .highlight-text {
    background-color: #606060;
    /* box-shadow: 0 0 5px red; */
}

.editor .breakpoints {
    width: 1em;
}

div.marker {
    /* width: 10px; */
    /* height: 10px; */
    /* border-radius: 5px; */
    color: #ff3333;
    font-size: 1.5em;
    margin-top: -2px;
}

.compiled {
    left: auto;
    right: 1.5em;
    height: 600px;
}

/* display */

.display {
    width: 100%;
    height: 100%;
    white-space: pre;
    font-family: monaco, monospace;
    color: white;
}

.display .inner {
    height: 100%;
    background-color: #202020;
}

/* toolset */

.toolset {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #999999;
    clear: both;
    padding-top: .75em;
}

.toolset ul.nav {
    border: 0;
    border-bottom: 1px solid white;
    height: 2.5em;
    padding-left: 2em;
}

.tool {
    height: calc(100% - 2.5em);
}

.toolset ul.nav li a,
.toolset ul.nav li a:hover {
    padding: .5em;
    margin-right: .5em;
    background-color: #335533;
    border: 0;
    color: #d0d0d0;

    height: calc(2.5em - 1px);
}

.toolset ul.nav li.active a {
    background-color: #d0d0d0;
    border: 1px solid white;
    border-bottom: 0;
    color: #1f1f1f;
    height: 2.5em;
}

.toolset ul.nav li a:hover {
    cursor: pointer;
}

.toolset button.close {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: .5em 1em;
}

.tool {
    display: none;
    background-color: #d0d0d0;
    padding: 1em;
    color: #1f1f1f;
}

.tool.active {
    display: block;
}

/* debugger */
/* console */

.debugger .state {
    float: right;
    background-color: #f6ec47;
    padding: .5em;
    text-style: italic;
    margin-right: 1em;
}

.debugger .buttons {
    height: 3em;
}

.debugger .stack-outer,
.debugger .scope-outer {
    height: calc(100% - 3em);
    padding: 0;
}

.debugger .stack-outer > div:first-child,
.debugger .scope-outer > div:first-child {
    font-size: 1.5em;
    height: 1.25em;
}

.debugger .stack, .debugger .scope {
    white-space: pre;
    font-family: monaco, monospace;
    height: calc(100% - 1.5em);
    border: 1px solid #a0a0a0;
    overflow: auto;
    background-color: #f0f0f0;
    padding: 1em;
}

.console.with-debugger {
    border-left: 1px solid black;
    background-color: #f0f0f0;
}

.console {
    padding-top: 0;
    padding-bottom: 0;
}

.console .output {
    white-space: pre;
    font-family: monaco, monospace;
    overflow: auto;
    height: calc(100% - 3em);
    padding: 1em 0;
}

.console .input {
    height: 3em;
}

.console .input input {
    width: 100%;
    margin: .5em 0;
}

/* footer */

.footer {
    background-color: #112211;
    color: white;
    padding: 1em;
}

.footer button {
    background-color: #446644;
    border: 1px solid #446644;
}

/* resources */

.resources li a {
    margin-left: 1em;
}

